.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
    background-color: rgb(36, 8, 135);
  position: sticky;
  top: 0;           
  z-index: 1000;    
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
}

.nav {
  display: flex;
  gap: 40px;
  
}
.tit{
  color: white;
}
.nav a {
  text-decoration: none;
  color: rgb(255, 253, 253);
}

.menu {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

