.proj {
  max-width: 1200px;
  margin: 80px auto;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  background-color: rgb(152, 169, 183);
  border-radius: 50px;
}
h1{
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
}
h1::after {
  content: "";
  width: 80px;
  height: 4px;
  background: #4f46e5;
  display: block;
  margin: 10px auto 0;
  border-radius: 2px;
}
.pro {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 20px rgba(31, 31, 31, 0.6);

}
.pro:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.prim {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.pro p:first-of-type {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.pro p:last-of-type {
  font-size: 15px;
  color: #555;
}

@media (max-width: 768px) {
  .proj {
    margin: 50px auto;
  }

  .prim {
    height: 160px;
  }
}
