/* Container with flex */
.dashboard-container {
  display: flex;
  
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 200px;
  background: #111827fb; /* dark navy */
  padding: 20px;
  border-right: 1px solid #ccc;
  position: fixed; /* Sidebar stays fixed */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

/* Links styling */
.sidebar a {
  text-decoration: none;
  color: #fff9f9;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: 0.2s;
}

.sidebar a:hover {
  background-color: #ddd;
  color: black;
  
}

/* Main content (right side) */
.main-content {
    height: auto;
  margin-left: 220px; /* same as sidebar width + padding */
  padding: 20px;
  flex: 1;
  background-color: #fff;
}
