body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;

background-color: white;}

.log {
  text-align: center;
  margin-top: 60px;
}

.ti h2 {
  color: #0f172a;
  font-size: 26px;
  font-weight: 600;
}

/* center form */
.for {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* form card */
.for form {
  width: 360px;
  padding: 32px;
  border-radius: 14px;
  background: rgba(252, 250, 250, 0.879);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border: 1px solid #e5e7eb;
}

/* labels */
.for label {
  display: block;
  margin-top: 14px;
  font-size: 14px;
  font-weight: 500;
  color: #334155;
  
}

/* inputs */
.for input {
  width: 100%;
  margin-top: 6px;
  padding: 11px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
  transition: 0.3s;
}

.for input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0px 0px 6px rgba(59, 130, 246, 0.4);
}

/* button */
.for button {
  width: 100%;
  margin-top: 22px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background: linear-gradient(to right, #2563eb, #3b82f6);
  transition: 0.3s;
}

.for button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 15px rgba(37, 99, 235, 0.35);
}
