/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body.light {
  background-color: #f4f6f9;
  transition: 0.3s;
}

body.dark {
  background-color: #121212;
  color: white;
  transition: 0.3s;
}

input {
  padding: 10px;
  width: 50%;
  border-radius: 6px;
  border: 1px solid #ccccccbe;
  margin: 10px;
}

button {
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  background-color: #2563eb;
  color: white;
  cursor: pointer;
  margin: 10px 6px;
}

button:hover {
  background-color: #1d4ed8;
}

/* Grid container */
.d {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

/* Card */
.di {
  width: 220px;
  padding: 15px;
  border-radius: 12px;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  border: 1px solid #ddd;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

body.dark .di {
  background: linear-gradient(145deg, #1e293b, #334155);
  border-color: #334155;
  color: white;
}

/* Hover effect */
.di:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}

/* Image */
.di img {
  width: 100%;
  height: 140px;
  object-fit: contain;
  margin-bottom: 12px;
  border-radius: 8px;
  background: #fff;
  padding: 8px;
}

body.dark .di img {
  background: #334155;
}

/* Product title */
.di h3:first-of-type {
  font-size: 15px;
  font-weight: 600;
  margin: 6px 0;
  color: #1f2937;
}

body.dark .di h3:first-of-type {
  color: #e2e8f0;
}

/* Price */
.di h3:last-of-type {
  font-size: 14px;
  font-weight: bold;
  color: #2563eb;
  margin: 4px 0;
}

body.dark .di h3:last-of-type {
  color: #22c55e;
}

/* Buttons container */
.bu {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* Buttons inside card */
.bu button {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}

.bu button:first-of-type {
  background-color: #22c55e;
  color: white;
}

.bu button:first-of-type:hover {
  background-color: #16a34a;
}



/* Slider */
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  gap: 30px;
}

.slide button {
  background-color: #22c55e;
}

.slide button:hover {
  background-color: #16a34a;
}

/* Spinner animation */

