.users {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.title {
  text-align: center;
  color: #2563eb;
  margin-bottom: 15px;
}

.card {
  background-color: #4a7198;
  padding: 10px;
  border-radius: 6px;
  margin: 8px 0;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  width: 300px;
  align-items: center;
  
  margin-left: 600px;
}

.card:hover {
  background-color: #e2e8f0;
  transform: scale(1.02);
}
